<head>


<style>
@import url('https://fonts.google.com/specimen/Tomorrow?selection.family=Tomorrow')

body {      font-family: "Tomorrow",Arial, Helvetica, sans-serif;
  }

.wrapper {
  background: linear-gradient(to right, #e67e22, #e74c3c);
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.container{
  height: 90vh;

 background-size: cover;
 display: flex;
 align-items: center;
 justify-content: center;
 text-align: center;
 color: #000;
}
.list-group-item{
  font-family: "Tomorrow";
  font-size: 20px;
  font-weight: bolder;
}
</style>
<body>
<div class="wrapper">
  <div class="container">
<div class="list-group">
  <a href="/Torrent" class="list-group-item">Go To Torrent Page</a>
  <a href="/Media" class="list-group-item">Go To Movie,Series,Animes Page</a>
  <a href="/Products" class="list-group-item">Go To Product Page</a>
</div>
<container>
</div>
</body>
